@model List<Freelancer_Marketplace.Models.ProjectViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/Content/assets/"
      data-template="horizontal-menu-template">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Dashboard - Analytics</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/Content/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />


    @Styles.Render("~/Content/maincss")
    @Scripts.Render("~/bundles/script1")

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
        <div class="layout-container">
            <!-- Navbar -->

            <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
                <div class="container-xxl">
                    <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
                        <a href="Index" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <svg width="32"
                                     height="22"
                                     viewBox="0 0 32 22"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                                          fill="#7367F0" />
                                    <path opacity="0.06"
                                          fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
                                          fill="#161616" />
                                    <path opacity="0.06"
                                          fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
                                          fill="#161616" />
                                    <path fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                                          fill="#7367F0" />
                                </svg>
                            </span>
                            <span class="app-brand-text demo menu-text fw-bold">Freelancer Marketplace</span>
                        </a>

                        <a href="javascript:void(0);"
                           class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                            <i class="ti ti-x ti-sm align-middle"></i>
                        </a>
                    </div>

                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="ti ti-menu-2 ti-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center"
                         id="navbar-collapse">
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- Search -->
                            <li class="nav-item navbar-search-wrapper me-2 me-xl-0">
                                <a class="nav-link search-toggler" href="javascript:void(0);">
                                    <i class="ti ti-search ti-md"></i>
                                </a>
                            </li>
                            <!-- /Search -->
                            <!-- Style Switcher -->
                            <li class="nav-item me-2 me-xl-0">
                                <a class="nav-link style-switcher-toggle hide-arrow"
                                   href="javascript:void(0);">
                                    <i class="ti ti-md"></i>
                                </a>
                            </li>
                            <!--/ Style Switcher -->
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow"
                                   href="javascript:void(0);"
                                   data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="~/Content/assets/img/avatars/1.png"
                                             alt
                                             class="h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item"
                                           href="Account">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="~/Content/assets/img/avatars/1.png"
                                                             alt
                                                             class="h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">@Session["Username"]</span>
                                                    <small class="text-muted">User</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="Account">
                                            <i class="ti ti-user-check me-2 ti-sm"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="AccountSettings">
                                            <i class="ti ti-settings me-2 ti-sm"></i>
                                            <span class="align-middle">Settings</span>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                           href="auth-login-cover.html"
                                           target="_blank">
                                            <i class="ti ti-logout me-2 ti-sm"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>

                    
                    <div class="navbar-search-wrapper search-input-wrapper container-xxl d-none">
                        <input type="text"
                               class="form-control search-input border-0"
                               placeholder="Search..."
                               aria-label="Search..." />
                        <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
                    </div>
                </div>
            </nav>

            <!-- / Navbar -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Menu -->
                    <aside id="layout-menu"
                           class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
                        <div class="container-xxl d-flex h-100">
                            <ul class="menu-inner">
                                <!-- Home Page -->
                                <li class="menu-item">
                                    <a href="Index" class="menu-link">
                                        <i class="menu-icon tf-icons ti ti-smart-home"></i>
                                        <div data-i18n="Home Page">Home Page</div>
                                    </a>
                                </li>

                                <!-- My On-Going Projects -->
                                <li class="menu-item">
                                    <a href="OnGoingProject" class="menu-link">
                                        <i class="menu-icon tf-icons ti ti-layout-sidebar"></i>
                                        <div data-i18n="My On-Going Projects">
                                            My On-Going Projects
                                        </div>
                                    </a>
                                </li>

                                <!-- Apps -->
                                <li class="menu-item">
                                    <a href="MyBids" class="menu-link">
                                        <i class="menu-icon tf-icons ti ti-brand-monday"></i>
                                        <div data-i18n="My Bids">My Bids</div>
                                    </a>
                                </li>

                                <!-- Components -->
                                <li class="menu-item active">
                                    <a href="Myprojects" class="menu-link">
                                        <i class="menu-icon tf-icons ti ti-messages"></i>
                                        <div data-i18n="My Projects">My Projects</div>
                                    </a>
                                </li>

                                <!-- Forms -->
                                <li class="menu-item">
                                    <a href="userForm.html" class="menu-link">
                                        <i class="menu-icon tf-icons ti ti-forms"></i>
                                        <div data-i18n="Forms">Forms</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                    <!-- / Menu -->
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <h4 class="fw-bold py-3 mb-4">Your Projects</h4>

                        <div class="d-flex justify-content-center">
                            <a href="javascript:handleAddClick();"
                               class="btn btn-primary me-3">Add New Projects</a>
                        </div>
                        <br />
                        <!-- Basic Bootstrap Table -->
                        <div class="card">
                            <div class="table-responsive text-nowrap" style="height: 250px;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Project Description</th>
                                            <th>Date Created</th>
                                            <th>Deadline</th>
                                            <th>Project Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                        @foreach (var project in Model)
                                        {
                                            string FormattedDeadline = project.Deadline?.ToString("dd/MM/yyyy");
                                            string FormattedDateCreated = project.DateCreated?.ToString("dd/MM/yyyy");
                                            <tr>
                                                <td>
                                                    <strong>@project.Title</strong>
                                                </td>
                                                <td>@project.ProjectDescription</td>
                                                <td>@FormattedDateCreated</td>
                                                <td>@FormattedDeadline</td>
                                                @if (project.ProjectStatus == "Open")
                                                {
                                                    <td><span class="badge bg-label-success me-1">@project.ProjectStatus</span></td>
                                                }
                                                else
                                                {
                                                    <td><span class="badge bg-label-danger me-1">@project.ProjectStatus</span></td>
                                                }
                                                <td>
                                                    <div class="dropdown">
                                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                            <i class="ti ti-dots-vertical"></i>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="javascript:javascript:handleEditClick(@project.ProjectId);"><i class="ti ti-pencil me-1"></i> Edit</a>
                                                            <a class="dropdown-item" href="javascript:handleBidClick(@project.ProjectId);"><i class="ti ti-arrow-big-up-line me-1"></i> Show Bids</a>
                                                            <a class="dropdown-item" href="javascript:handleUploadClick(@project.ProjectId);"><i class="ti ti-upload me-1"></i> Show Uploads</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/ Basic Bootstrap Table -->

                        <hr class="my-5" />
                    </div>






                    <!--/ Content -->
                    <!-- Advanced footer -->
                    <footer class="footer bg-light">
                        <div class="container-fluid container-p-x pt-5 pb-4">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-3 mb-4 mb-sm-0">
                                    <h4 class="fw-bolder mb-3">
                                        <a href="javascript:void(0)"
                                           target="_blank"
                                           class="footer-text">
                                            Freelancer Marketplace
                                        </a>
                                    </h4>
                                    <span>Get ready for better world</span>
                                    <div class="social-icon my-3">
                                        <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-facebook me-2">
                                            <i class="ti ti-brand-facebook"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-twitter me-2">
                                            <i class="ti ti-brand-twitter"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-linkedin me-2">
                                            <i class="ti ti-brand-linkedin"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-github">
                                            <i class="ti ti-brand-github"></i>
                                        </a>
                                    </div>
                                    <p class="pt-4">
                                        <script>
                                            document.write(new Date().getFullYear());
                                        </script>
                                        
                                    </p>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-0">
                                    <h5>Company</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">About</a></li>
                                        <li>
                                            <a href="javascript:void(0)" class="footer-link d-block pb-2">Career <span class="badge bg-label-primary text-capitalize">We're hiring</span></a>
                                        </li>
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Blog</a></li>
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Customers</a></li>
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Hire us</a></li>
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">FAQs</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 mb-4 mb-sm-0">
                                    <h5>Products</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Admin Template</a></li>
                                        <li>
                                            <a href="javascript:void(0)" class="footer-link d-block pb-2">UI Kit</a>
                                        </li>
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Styleguide</a></li>
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">API</a></li>
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Documentation</a></li>
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Changelog</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <h5>Features</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Affiliate Program</a></li>
                                        <li>
                                            <a href="javascript:void(0)" class="footer-link d-block pb-2">Integration</a>
                                        </li>
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Support</a></li>
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Special Offers</a></li>
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Page Builder</a></li>
                                        <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Plans & Pricing</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!--/ Advanced footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!--/ Content wrapper -->
            </div>

            <!--/ Layout container -->
        </div>
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

    <!--/ Layout wrapper -->
    @Scripts.Render("~/bundles/mainscript2")
    <script>
        function handleAddClick() {
            // Redirect to the BidTheProject action with the project ID as a query parameter
            window.location.href = '/User/AddProject';
        }
        function handleEditClick(projectId) {
            // Redirect to the BidTheProject action with the project ID as a query parameter
            window.location.href = '/User/EditProject?projectId=' + projectId;
        }
        function handleBidClick(projectId) {
            // Redirect to the BidTheProject action with the project ID as a query parameter
            window.location.href = '/User/ShowMyProjectBid?id=' + projectId;
        }
        function handleUploadClick(projectId) {
            // Redirect to the BidTheProject action with the project ID as a query parameter
            window.location.href = '/User/ShowUploadedData?projectId=' + projectId;
        }
    </script>
    <!-- Add a script section to handle the bid click event -->
    

</body>
</html>

