
@{
    Layout = null;
}
@using Freelancer_Marketplace.Models
@model LoginViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/logincss")
    @Scripts.Render("~/bundles/script1")
</head>
<body>
    @*<div>
            <form id="loginfrm">
                <label>userid</label>
                @Html.TextBoxFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
                <label>pass</label>
                @Html.PasswordFor(m => m.Userpass)
                <button id="btnSub" type="button"> LOGIN</button>

                @Model.ErrorMsg
            </form>
        </div>*@
    <div class="authentication-wrapper authentication-cover authentication-bg">
        <div class="authentication-inner row">
            <!-- /Left Text -->
            <div class="d-none d-lg-flex col-lg-7 p-0">
                <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
                    <img src="~/Content/assets/img/illustrations/auth-login-illustration-light.png"
                         alt="auth-login-cover"
                         class="img-fluid my-5 auth-illustration"
                         data-app-light-img="~/Content/assets/img/illustrations/auth-login-illustration-light.png"
                         data-app-dark-img="~/Content/assets/img/illustrations/auth-login-illustration-dark.png" />

                    <img src="~/Content/assets/img/illustrations/bg-shape-image-light.png"
                         alt="auth-login-cover"
                         class="platform-bg"
                         data-app-light-img="~/Content/assets/img/illustrations/bg-shape-image-light.png"
                         data-app-dark-img="~/Content/assets/img/illustrations/bg-shape-image-dark.png" />
                </div>
            </div>
            <!-- /Left Text -->
            <!-- Login -->
            <div class="d-flex col-12 col-lg-5 align-items-center p-sm-5 p-4">
                <div class="w-px-400 mx-auto">
                    <!-- Logo -->
                    <div class="app-brand mb-4">
                        <a href="index.html" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                                          fill="#7367F0" />
                                    <path opacity="0.06"
                                          fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
                                          fill="#161616" />
                                    <path opacity="0.06"
                                          fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
                                          fill="#161616" />
                                    <path fill-rule="evenodd"
                                          clip-rule="evenodd"
                                          d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                                          fill="#7367F0" />
                                </svg>
                            </span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h3 class="mb-1 fw-bold">Welcome to Freelancer Marketplace</h3>
                    <p class="mb-4">Please sign-in to your account and start the adventure</p>

                    <form id="loginfrm" class="mb-3">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @id = "username", @placeholder = "Enter your username", @autofocus = "autofocus", @value = "vedant" })
                            @Html.ValidationMessageFor(m => m.Username)
                        </div>

                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Password</label>
                            </div>
                            <div class="input-group input-group-merge">
                                @Html.PasswordFor(m => m.Userpass, new { @class = "form-control", @id = "password", @aria_describedby = "password", @value = "vedant123" })
                                @Html.ValidationMessageFor(m => m.Userpass)
                                <span class="input-group-text cursor-pointer" onclick="togglePasswordVisibility()">
                                    <i id="eyeIcon" class="ti ti-eye-off"></i>
                                </span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember-me" />
                                <label class="form-check-label" for="remember-me"> Remember Me </label>
                            </div>
                        </div>
                        @*<button class="btn btn-primary d-grid w-100"> <a href="index.html" style="color: #ffffff !important;"> Sign in </a></button>*@
                        <button id="btnSub" class="btn btn-primary d-grid w-100" type="button"> Sign in</button>

                        @Model.ErrorMsg
                    </form>

                    <p class="text-center">
                        <span>New on our platform?</span>
                        <a href="register.html">
                            <span>Create an account</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /Login -->
        </div>
        <input type="hidden" id="OriginalUrl" name="OriginalUrl" value="@Session["OriginalUrl"]" />
    </div>
    @Scripts.Render("~/bundles/Loginscript2")
</body>
</html>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
        function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var eyeIcon = document.getElementById("eyeIcon");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        eyeIcon.className = "ti ti-eye";
        } else {
            passwordInput.type = "password";
        eyeIcon.className = "ti ti-eye-off";
        }
    }
    $("#btnSub").on('click', function () {
        Login();
    });
    function Login() {
    console.log($("#loginfrm").serialize());
    $.ajax({
        url: '@Url.Action("Login2", "Login")',
        type: "POST",
        data: $("#loginfrm").serialize(),
        success: function (result) {
            if (result.isError) {
                alert(result.data);
            }
            else {
                // Get the original URL from a hidden input field or a data attribute
                var originalUrl = $("#OriginalUrl").val();

                // If an original URL is found, redirect to it; otherwise, go to a default page
                if (originalUrl !== "") {
                    window.location.href = originalUrl;
                } else {
                    window.location.href = '@Url.Action("Index", "User")';
                }
            }
        },
        error: function (e) {
            alert("Error while login");
        }
    });
}


</script>